/* body{
    background-color: aqua;
} */

#cv-form{
    /* display: none; */
}

#cv-template{
    display:none;
}

.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}

.background{
    /* background-color: rgba(128, 129, 129, 0.281); */
    background: linear-gradient(#8a8a8a, #c4c4c4);
}